html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@import '_colors';
@import '_dimens';
@import '_grid';
@import url(https://fonts.googleapis.com/css?family=Lato:300);

.content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}